@use "../../styles/variables" as *;
@use "../../styles/mixins" as *;

.dashboardLayout {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.dashboardBody {
  display: flex;
  flex: 1;
}

.mainContent {
  flex: 1;
  padding: 40px;
  background-color: $background;
  overflow-y: auto;
}
