@use "../../styles/variables" as *;
@use "../../styles/mixins" as *;

.dashboardLayout {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.dashboardBody {
  display: flex;
  flex: 1;
}

.mainContent {
  flex: 1;
  min-width: 0;
  padding: 40px;
  background-color: $background;
  overflow-y: auto;

  @include tablet {
    padding: 24px;
  }

  @include mobile {
    padding: 16px;
  }
}
