@use "@/styles/variables" as *;
@use "@/styles/mixins" as *;

.passwordWrapper {
  position: relative;
  width: 100%;

  .passwordInput {
    @include input-base;
    padding-right: 60px;
  }

  button {
    position: absolute;
    right: 16px;
    top: 50%;
    transform: translateY(-50%);
    background: none;
    border: none;
    color: $teal;
    font-size: 12px;
    font-weight: 600;
    letter-spacing: 1.2px;
    text-transform: uppercase;
    cursor: pointer;
  }
}
